@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('/fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Regular.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-ExtraboldItalic.eot');
  src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
      url('/fonts/gilroy/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-ExtraboldItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('/fonts/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Bold.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
      url('/fonts/gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Black.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Black.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
      url('/fonts/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Light.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Light.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
      url('/fonts/gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Semibold.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Semibold.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('/fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Medium.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
      url('/fonts/gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-MediumItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
      url('/fonts/gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-BlackItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
      url('/fonts/gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-UltraLight.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-UltraLight.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
      url('/fonts/gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-RegularItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-SemiboldItalic.eot');
  src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
      url('/fonts/gilroy/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-SemiboldItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-SemiboldItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
      url('/fonts/gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-HeavyItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('/fonts/gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Extrabold.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Extrabold.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
      url('/fonts/gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-BoldItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
      url('/fonts/gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
      url('/fonts/gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-LightItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-LightItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
      url('/fonts/gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Heavy.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Heavy.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
      url('/fonts/gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-Thin.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-Thin.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
      url('/fonts/gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
      url('/fonts/gilroy/Gilroy-ThinItalic.woff') format('woff'),
      url('/fonts/gilroy/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Metana Next';
  src: url('/fonts/neue_metana_next/NeueMetanaNext-SemiBold.eot');
	src: local('☺'), url('/fonts/neue_metana_next/NeueMetanaNext-SemiBold.woff') format('woff'), url('/fonts/neue_metana_next/NeueMetanaNext-SemiBold.ttf') format('truetype'), url('/fonts/neue_metana_next/NeueMetanaNext-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Metana Next Outline';
  src: url('/fonts/neue_metana_next_outline/NeueMetanaNextOutline-Black.eot');
	src: local('☺'), url('/fonts/neue_metana_next_outline/NeueMetanaNextOutline-Black.woff') format('woff'), url('/fonts/neue_metana_next_outline/NeueMetanaNextOutline-Black.ttf') format('truetype'), url('/fonts/neue_metana_next_outline/NeueMetanaNextOutline-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html, body {
    @apply bg-silver font-body text-black;
    line-height: normal;
  }
}

@layer components {
  .container {
    @apply px-6 mx-auto lg:max-w-6xl lg:px-10 xl:px-0;
  }

  .t-h1 {
    @apply font-caption font-semibold uppercase text-32px lg:text-64px;
  }

  .t-h2 {
    @apply font-caption font-semibold text-18px lg:text-24px;
  }

  .t-display {
    @apply font-display font-black text-64px lg:text-106px;
  }

  .t-display-lg {
    @apply font-display font-black text-106px lg:text-240px;
  }

  .t-40 {
    @apply text-20px lg:text-40px;
  }

  .t-24 {
    @apply text-16px lg:text-24px;
  }

  .paragraph {
    @apply before:float-left before:w-8 before:h-[1px] before:mt-2 before:bg-current before:align-middle before:mr-2 before:ml-0.5 lg:before:w-12 lg:before:mr-3 lg:before:mt-3;
  }
}


.articles {

  h1 {
    font-size: 24px;
    font-weight: 700;
  }

  h2 {
    font-size: 22px;
    font-weight: 500;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 22px;
      font-weight: 700;
    }
  
    h2 {
      font-size: 20px;
      font-weight: 500;
    }
  
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
  
    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.cookies {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: none;
  &.active {
    display: block;
  }

  &__area {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.315);
  }

  &__body {
    max-height: 200px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    background-color: #FFFFFF;
    margin: 0 12%;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    align-items: center;
  }

  &__content {
    display: grid;
    row-gap: 15px;
    h1 {
      font-weight: 600;
      font-size: 24px;
    }

    p {
      color: #00000098;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__buttons {
    display: grid;
    row-gap: 15px;
    justify-content: center;

    button {
      display: flex;
      width: 100px;
      height: 40px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 15px;
      border: 1px solid #000000;
      transition: all 0.2s ease 0s;
      &:hover {
        border: 1px solid #FFFFFF;
        background-color: #000000;
        color: #FFFFFF;
      }
    }
  }
  @media (max-width: 540px) {
    &__body {
      max-height: fit-content;
      grid-template-columns: 1fr;
      row-gap: 20px;
      margin: 0 5%;
    }

    &__buttons {
      grid-template-columns: 1fr 1fr;
      max-width: 230px;
      column-gap: 20px;
      // margin: 0 auto;
    }

  }
}


.errorPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  h1 {
    font-weight: 600;
    font-size: 24px;
  }

  button {
    margin: 20px auto;
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #000000;
    transition: all 0.2s ease 0s;
    &:hover {
      border: 1px solid #FFFFFF;
      background-color: #000000;
      color: #FFFFFF;
    }
  }
}

.hrefs {
  display: grid;
  grid-template-columns: 1rf 1fr;
  column-gap: 20px;
}